*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
}
.Header{
    width: 100%;
    height: 50px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* position: fixed; */
}
.navbar{
    width: 96%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left-nav{
    width: 55%;
    display: flex;
    justify-content: space-around;
align-items: center;
}
.right-nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.main-img img{
    width: 100%;
    height:600px;
}