*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background:black;
    color: white;
   
} 
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.logo{
   width: 30px;
   z-index: 2;
}

.nav-right select,
.footer-lang{
    padding: 6px;
    background: transparent;
    color:white;
    border: 1px solid #999;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;

}

.signin{
    padding: 7px 15px;
    margin-left: 10px;
    background: red;
    border: none;
    color: white;
    border-radius: 5px;
}
.hero{
    background: url("netflix\ image/img1.jpg");
    opacity: 0.7;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    z-index: 3;

}
.hero-content h1{
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 20px;
z-index: 3;
}

.email-box{
    margin-top: 20px;

}
#input-box{
    color: white;
}
.email-box input{
    padding: 12px;
    width: 280px;
    border: none;
    background-color: rgb(30, 28, 28);

}
.btn{
    padding:11px 15px 11px 15px;
    background: rgb(211, 3, 3);
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    z-index: 2;
}
.trending{
    padding: 40px 60px;
}
.mem-email{
    text-align: center;
}

.cards{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.poster{
    position: relative;
}

.reasons{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
}
.reason-box{
    width: 23%;
    background: #111;
    padding: 20px;
    border-radius: 10px;
}
.faq{
    padding: 40px 60px;
}

.faq-box{
    background: #222;
    padding: 20px;
    margin: 10px 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.footer1{
    display: flex;
    justify-content: space-evenly;
    row-gap:20px;

}
.footer-para1{
 color: grey;
 text-decoration: underline;
}
footer{
    padding: 40px 60px;
}
#f-p1{
margin-bottom: 30px;
margin-left: 189px;
}
.footer-lang{
    margin-left: 189px;
}
#net{
    margin-bottom: 30px;
    margin-left: 189px;
    color: grey;
}
#cap{
    color: grey;
    margin-left: 189px;
}
